<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Homepage</title>

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Charts CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="/styles/styles.css">

  <!-- JQuery -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/js/index.js"></script>

  <!-- Charts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
</head>

<body>
  <div class="jumbotron">
    <div class="container">
      <h1>Accept the Challenge?</h1>
      <hr>
      <p> We challenge you to commit to 30 days in becoming a more well-rounded & wholesome person.<br>
        Train your mind, body and soul by accepting our daily challenges including; a physical exercise, dose of inspiration, and a journal reflection.
        Our application will track and record your progress with information you provide (BMI, RBPM, Mood, Gratefulness & Challenge)
        <br> <br>
        Only upon completion of the 30 days your inputted results will be presented back to you with a graph and report on your progress.</p> <br>
      <a id="loadChallenge" class="btn btn-danger btn-lg" onclick="move()">Challenge Accepted!</a>
    </div>
  </div>
  <div class="row" id="challengeZone">
    <div class="col-sm-3">
      <div class="card">
        <h5 class="card-header text-center">Mind</h5>
        <div class="card-body">
          <div id="inspirationText" class="card-text"></div>
          <div id="inspirationAuthor" class="card-text"></div>
          <img src="https://source.unsplash.com/random?nature" class="card-img-top" alt="inspirational image to change your life">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card text-center">
        <h5 class="card-header text-center">Body</h5>
        <div id="cardBody">
        {{{body}}}
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <h5 class="card-header text-center">Spirit</h5>
        <div class="card-body">
          <h5 class="card-title">Your Avatar Progress</h5>
          <div class="w3-light-grey">
            <div id="myBar" class="w3-container w3-green w3-center" style="width:0%">0%</div>
          </div> 
        </div>
      </div>
    </div>
  </div>
  </div>
</body>

<script>


  $(document).ready(function () {

 // $("#cardBody").hide();
  $("#loadChallenge").click(function() {
    window.location ="/";
//    $("#cardBody").show();
  });

    // Determine whether challenge was accepted and if so, how many days of checkin
    // are completed.
    $.get("/api/accepted", function(data) {
      console.log("/api/accepted");
      console.log(data);

      if (data.started) {
        console.log("Display the three button page and disable the Challenge Accepted button.");
        $("#cardBody").show();
        
        console.log("Update the spirit tracker");
        console.log(data.data[0].checkin_counter);
      }
      else {
          $("#cardBody").hide();
      }
    });

    // Generate a random day.
    let rand_day = Math.floor(Math.random() * 30) + 1;
    let query = "/api/inspiration/" + rand_day;
    console.log("Query : " + query);

    // Get the inspiration data.
    $.get(query, function (data) {

      console.log("RECEIVED FROM POST : " + JSON.stringify(data));
      console.log(data);

      $("#inspirationText").html("<p>" + data.quote + "</p>");
      $("#inspirationAuthor").html("<p>" + " ~ " + data.author + "</p>");

    });
  });

  //progress spirit bar move function

function move() {
    var elem = document.getElementById("myBar"); 
    var width = 3;
    var id = setInterval(frame, 20);
    
    function frame() {
        if (width >= 100) {
            clearInterval(id);
        } else {
            width++; 
            elem.style.width = width + '%'; 
            elem.innerHTML = width * 1 + '%';
        }
    }
}
</script>

</html>
