<a id="fitnessCall" class="btn btn-primary btn-lg" ng-click="active">Begin Fitness Challenge</a>


<script>

  $(document).ready(function () {

    $("#fitnessCall").on("click", function (event) {
      console.log($(this));
      window.location = "/fitness";//"http://localhost:3000/fitness"
      //$.ajax("/api/fitness", {
      // type: "GET"
      // }).then(
      //function() {
      // console.log("created new cat");
      // Reload the page to get the updated list
      //  location.reload();
      // }
      // );
    });

  });
</script>