<a id="fitnessCall" class="btn btn-primary btn-lg" ng-click="active">Begin Fitness Challenge</a>
<br>
<a id="checkinCall" class="btn btn-warning btn-lg" ng-click="active">Daily Check In</a>
<br>
<a id="chartsCall" class="btn btn-success btn-lg" ng-click="active">Cross the Finish Line!</a>


<script>

  $(document).ready(function () {

    $("#fitnessCall").on("click", function (event) {
      console.log($(this));
      window.location = "/fitness";
    });

    // Pull up the self reporting page.
    $("#checkinCall").on("click", function (event) {
      console.log("checkinCall button clicked.");

      // Get the latest checkin_counter value from the database.
      $.get("/api/accepted", function (data) {
        console.log("/api/accepted");
        console.log(data);

        if (data.started) {
          let checkin_counter = data.data[0].checkin_counter + 1;
          let id = data.data[0].id;

          // Send a PUT request to update the checkin_counter
          let putObj = {
            id: id,
            checkin_counter: checkin_counter
          };

          //console.log(putObj);

          // Send the PUT request.
          $.ajax("/api/update_checkin", {
            type: "PUT",
            data: putObj
          }).then(
            function () {
              // Load the checkin page.
              window.location = "/checkin";
            }
          );
        };

      });

    });

      // Pull up the charts page.
      $("#chartsCall").on("click", function (event) {
        console.log("chartsCall button clicked.");
        window.location = "/completed";
      });

    });


</script>