<br> 
<a id="fitnessCall" class="btn btn-primary" ng-click="active">Begin Fitness Challenge</a>
                      {{!-- <a href="#" class="btn btn-primary">Day</a>
                      <a href="#" class="btn btn-primary">Day</a>
                      <a href="#" class="btn btn-primary">Day</a>
                      <a href="#" class="btn btn-primary">Day</a>
                      <br><br>
                      <a href="#" class="btn btn-primary">Day</a>
                      <a href="#" class="btn btn-primary">Day</a>
                      <a href="#" class="btn btn-primary">Day</a>
                      <a href="#" class="btn btn-primary">Day</a>
                      <a href="#" class="btn btn-primary">Day</a>
                      <br><br>
                      <a href="#" class="btn btn-primary">Day</a>
                      <a href="#" class="btn btn-primary">Day</a>
                      <a href="#" class="btn btn-primary">Day</a>
                      <a href="#" class="btn btn-primary">Day</a>
                      <a href="#" class="btn btn-primary">Day</a>
                      <br><br>
                      <a href="#" class="btn btn-primary">Day</a>
                      <a href="#" class="btn btn-primary">Day</a>
                      <a href="#" class="btn btn-primary">Day</a>
                      <a href="#" class="btn btn-primary">Day</a>
                      <a href="#" class="btn btn-primary">Day</a>
                      <br><br>
                      <a href="#" class="btn btn-primary">Day</a>
                      <a href="#" class="btn btn-primary">Day</a>
                      <a href="#" class="btn btn-primary">Day</a>
                      <a href="#" class="btn btn-primary">Day</a>
                      <a href="#" class="btn btn-primary">Day</a>
                      <br><br>
                      <a href="#" class="btn btn-primary">Day</a>
                      <a href="#" class="btn btn-primary">Day</a>
                      <a href="#" class="btn btn-primary">Day</a>
                      <a href="#" class="btn btn-primary">Day</a>
                      <a href</a>="#" class="btn btn-primary">Day</a> --}}
                      <br><br>

{{!-- 
<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>This is our Home Page!</h2>
          <div class="form-group">
            <label for="example-description">Example Description</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Enter Example Description"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <h3>Examples:</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div> --}}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>

<script>
$("#fitnessCall").on("click", function(event) {
  console.log($(this));
window.location="http://localhost:3000/fitness"
   //$.ajax("/api/fitness", {
     // type: "GET"
   // }).then(
      //function() {
       // console.log("created new cat");
        // Reload the page to get the updated list
      //  location.reload();
     // }
   // );
  });
</script>