<div class="container">
     <div class="col-md-5 offset-md-3">

<p>Day {{data.day_id}} Check In</p>

         <!--RBPM Button trigger modal -->
<div align="center">          
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#rbpm">
    RBPM
    </button>
</div>

<br>

    <!-- BMI Button trigger modal -->
<div align="center">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#bmi">
    BMI
    </button>
</div>

<br>

<!-- Survey Button trigger modal -->
<div align="center">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#surveyModalLong">
    Survey
    </button>
</div>



    <!-- Modals -->

    <!-- rbpm -->
    <div class="modal fade" id="rbpm" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalScrollableTitle">What's Your resting beats per minute?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            ...things and stufffsss
            <input type="text" class="form-control" id="rbpm" placeholder="What's your resting heart rate?">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
        </div>
        </div>
    </div>
    </div>


    <!-- BMI Modal -->
    <div class="modal fade" id="bmi" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="bmiLabel">Body Mass Index</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            ...things
            <label for="bmi">Body Mass Index</label>
            <input type="text" class="form-control" id="bmi" placeholder="What's your Body Mass Index?">

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
        </div>
        </div>
    </div>
    </div>


<!-- Survey Modal -->
<div class="modal fade" id="surveyModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="surveyLongTitle">How ya feeling?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

          Questions

          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="#" name="#">
            <label class="custom-control-label" for="#">Answers</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="#" name="#">
            <label class="custom-control-label" for="defaultUnchecked">Answers</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="#" name="#">
            <label class="custom-control-label" for="defaultUnchecked">Answers</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="#" name="#">
            <label class="custom-control-label" for="defaultUnchecked">Answers</label>
          </div>
          <br>
         Questions

          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="#" name="#">
            <label class="custom-control-label" for="#">Answers</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="#" name="#">
            <label class="custom-control-label" for="defaultUnchecked">Answers</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="#" name="#">
            <label class="custom-control-label" for="defaultUnchecked">Answers</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="#" name="#">
            <label class="custom-control-label" for="defaultUnchecked">Answers</label>
          </div>
          <br>
         Questions

          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="#" name="#">
            <label class="custom-control-label" for="#">Answers</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="#" name="#">
            <label class="custom-control-label" for="defaultUnchecked">Answers</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="#" name="#">
            <label class="custom-control-label" for="defaultUnchecked">Answers</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="#" name="#">
            <label class="custom-control-label" for="defaultUnchecked">Answers</label>
          </div>
          <br>
         Questions

          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="#" name="#">
            <label class="custom-control-label" for="#">Answers</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="#" name="#">
            <label class="custom-control-label" for="defaultUnchecked">Answers</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="#" name="#">
            <label class="custom-control-label" for="defaultUnchecked">Answers</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="#" name="#">
            <label class="custom-control-label" for="defaultUnchecked">Answers</label>
          </div>
          <br>
         Questions

          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="#" name="#">
            <label class="custom-control-label" for="#">Answers</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="#" name="#">
            <label class="custom-control-label" for="defaultUnchecked">Answers</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="#" name="#">
            <label class="custom-control-label" for="defaultUnchecked">Answers</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="#" name="#">
            <label class="custom-control-label" for="defaultUnchecked">Answers</label>
          </div>
          <br>
         Questions

          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="#" name="#">
            <label class="custom-control-label" for="#">Answers</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="#" name="#">
            <label class="custom-control-label" for="defaultUnchecked">Answers</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="#" name="#">
            <label class="custom-control-label" for="defaultUnchecked">Answers</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="#" name="#">
            <label class="custom-control-label" for="defaultUnchecked">Answers</label>
          </div>
          <br>
         Questions

          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="#" name="#">
            <label class="custom-control-label" for="#">Answers</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="#" name="#">
            <label class="custom-control-label" for="defaultUnchecked">Answers</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="#" name="#">
            <label class="custom-control-label" for="defaultUnchecked">Answers</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="#" name="#">
            <label class="custom-control-label" for="defaultUnchecked">Answers</label>
          </div>
          <br>
         Questions

          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="#" name="#">
            <label class="custom-control-label" for="#">Answers</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="#" name="#">
            <label class="custom-control-label" for="defaultUnchecked">Answers</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="#" name="#">
            <label class="custom-control-label" for="defaultUnchecked">Answers</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="#" name="#">
            <label class="custom-control-label" for="defaultUnchecked">Answers</label>
          </div>
          <br>
         Questions

          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="#" name="#">
            <label class="custom-control-label" for="#">Answers</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="#" name="#">
            <label class="custom-control-label" for="defaultUnchecked">Answers</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="#" name="#">
            <label class="custom-control-label" for="defaultUnchecked">Answers</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="#" name="#">
            <label class="custom-control-label" for="defaultUnchecked">Answers</label>
          </div>
          <br>
         Questions

          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="#" name="#">
            <label class="custom-control-label" for="#">Answers</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="#" name="#">
            <label class="custom-control-label" for="defaultUnchecked">Answers</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="#" name="#">
            <label class="custom-control-label" for="defaultUnchecked">Answers</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="#" name="#">
            <label class="custom-control-label" for="defaultUnchecked">Answers</label>
          </div>
          <br>
         Questions

          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="#" name="#">
            <label class="custom-control-label" for="#">Answers</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="#" name="#">
            <label class="custom-control-label" for="defaultUnchecked">Answers</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="#" name="#">
            <label class="custom-control-label" for="defaultUnchecked">Answers</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="#" name="#">
            <label class="custom-control-label" for="defaultUnchecked">Answers</label>
          </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


        <br>
        <form id="cms">
          <div class="form-group">

            <label for="title">Title:</label>
            <input type="text" class="form-control" id="title">
            <label id="user">Author:</label>
             <input type="text" class="form-control" id="user">

            <br />
            <label for="body">Body:</label>
            <textarea class="form-control" rows="10" id="body"></textarea>
            <div class="form-group">
              
            </div>
            <br />
            <button type="submit" class="btn btn-success submit btn-lg">Submit</button>
          </div>
        </form>
      </div>
</div>