body{
  font-family: 'Poppins', sans-serif;
  background: #272727;
}

h1{
  font-size: 32pt;
  font-weight: 900;
  font-style: italic;
  font-stretch: expanded;
}

.jumbotron{
  background-size: cover;
  background-image: url("/images/tobias-van-schneider-88137-unsplash.jpg");
  text-align: center;
  color: whitesmoke;
  line-height: 1.5;
  font-size: 14pt;
}

.card{
  display: block;
}

/* Mind Card & Quotes Styling */
.card-header {
  font-weight: 800;
  font-size: 18pt;
}

#inspirationText {
font-size: 12pt;
}

#inspirationAuthor {
  font-size: 11pt;
  font-style: italic;
  }

img {
  display: block;
  height: auto;
  width: 250px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}

.default-blog-button {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
  width: 10px !important;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  color: black; 
}